
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .addBtn{
    background-color: lawngreen;
    font-size: larger;
    width:175px;
    height:65px;
    margin-bottom: 25px;
    border: 5px lawngreen;
    text-align: center;
    line-height: 65px;  
  }
  
