ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.welcome{
  text-align: center;
  font-size: 40px;
}

table {
  border-spacing: 0;
  border: 1px solid #ededed;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
h1{
  text-align: center;
}
.CRUDbtn{
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  margin-right: 5px;

}
.C{

}
.U{
  background-color: lightblue;
}
.D{
  background-color: lightcoral;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #00000094
}
